
body {
    background-color: rgb(28, 28, 31);
}

#title {
    text-align: center;
    color: rgb(73, 125, 246);
    margin-bottom: 20px;
}

#enemy-board,
#player-board {
    height: 350px;
    width: 350px;
    border: 5px solid rgb(38, 38, 131);
    background-color: rgb(83, 83, 253);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr );
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    justify-items: center;
}

.grid-dot {
    background-color: rgb(38, 38, 131);
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.ship {
    background-color: rgb(68, 67, 67);
    border-radius: 0;
    width: 20px;
}

.enemy {
    cursor: pointer;
}

#enemy-board .true {
    background-color: rgb(253, 87, 87);
}

.false{
    background-color: rgb(136, 136, 168);
}

#divider {
    background-color: grey;
    height: 10px;
    width: 350px;
    margin: 0 auto;
    border: 2px solid rgb(89, 89, 89);
}